body {
	padding: 20px;
}
.container {
	display: grid;
	grid-template-rows: repeat(5, 150px);
	grid-template-columns: repeat(4, 150fr);
	border: 4px solid #000;
	/*grid-column-gap: 5px;
	grid-row-gap: 5px;*/
	background: #fff;
}
.grid-item {
	border: 1px solid #000;
	background: #aaa;
}
.grid-item:nth-child(1) {
	background: #f33;
	grid-column: 1/ span 2;
}
.grid-item:nth-child(2) {
	background: #3f3;
	grid-column: 3/ span 1;
	grid-row: 1/ span 2;
}
.grid-item:nth-child(3) {
	background: #ff0
}
.grid-item:nth-child(4) {
	background: #00f;
	grid-column: 1/ span 2;
}
.grid-item:nth-child(5) {
	background: #95f;
}
.grid-item:nth-child(6) {
	background: orange;
	grid-row: 3/ span 2;
}
.grid-item:nth-child(7) {
	background: skyblue;
	grid-column: 2/ span 2;
}
.grid-item:nth-child(8) {
	background: purple;
	grid-column: 4/ span 1;
	grid-row: 3/ span 2;
}
.grid-item:nth-child(9) {
	background: pink;
	grid-column: 2/ span 1;
	grid-row: 4/ span 2;
}
.grid-item:nth-child(10) {
	background: aqua;
}
.grid-item:nth-child(11) {
	background: saddlebrown;
}
.grid-item:nth-child(12) {
	background: deeppink;
	grid-column: 3/ span 2;
}